{% extends 'base.html.twig' %}

{% block title %}
	TiendaFES
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/index_style.css')}}">
{% endblock %}
{% block body %}
    <header>
        <div class="">
            <nav class="navbar navbar-expand-md light p-3">
                <a class="navbar-brand" href="">
                    <img src="{{asset('img/icono.png')}}" width="64" height="64" alt="">
                    <b>TiendaFes</b>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="ms-auto"></div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="">Acerca de</a>
                        <a class="nav-item nav-link" href="">Ayuda</a>
                        <a class="nav-item nav-link" href="{{ path('registrar')}}">Registrar</a>
                        <a class="nav-item nav-link" href="{{ path('login')}}">Iniciar Sesion</a>
                    </div>
                </div>
            </nav>

            <div class="container text-center">
                <div class="row">
                    <div class="col-md-5 col-sm-12 p-5">
                        <h6>autor: YANNI AXEL</h6>
                        <h1>BIENVENIDO!</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Tenetur voluptatum dolores 
                        dolorum perferendis, veritatis sunt consectetur 
                        ducimus ratione molestiae reprehenderit?</p>
                        <button class="btn btn-primary px-5 py-2">EMPIEZA</button>
                    </div>
                    <div class="col-md-5 col-sm-12 ms-auto">
                        <img src="{{asset('img/logo_fes.png')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-1 bg-dark">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="pray">
                            <img src="{{asset('img/fes_2.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="panel text-left">
                            <h1>FES Aragon</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Totam illo illum nesciunt soluta officia ab 
                            eaque amet quod tenetur, dolor ex, provident, 
                            corrupti impedit eligendi magni enim! Velit 
                            consectetur similique aperiam beatae voluptatum 
                            vero ducimus est quidem! Maxime, magni id.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2 container-fluid p-0">
            <div class="cover">
                <div class="content text-center">
                    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, aliquid.</p>
                </div>
            </div>
            <div class="container-fluid text-center">
            
            </div>
<!--card section-->
            <div class="container p-5">
                <div class="row">
                    <div class="col-4">
                        <div class="card bg-dark text-white">
                            <img class="card-img-top p-5" src="{{asset('img/icono_card1.png')}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-tittle text-center">Lorem</h5>
                                <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam at, quidem 
                                                        voluptates aut aliquam deserunt explicabo esse, exercitationem sed inventore
                                                        impedit dolore nam et hic expedita velit provident soluta est.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-dark text-white">
                            <img class="card-img-top p-5" src="{{asset('img/icono_card2.png')}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-tittle text-center">Lorem</h5>
                                <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam at, quidem 
                                                        voluptates aut aliquam deserunt explicabo esse, exercitationem sed inventore
                                                        impedit dolore nam et hic expedita velit provident soluta est.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-dark text-white">
                            <img class="card-img-top p-5" src="{{asset('img/icono_card3.png')}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-tittle text-center">Lorem</h5>
                                <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam at, quidem 
                                                        voluptates aut aliquam deserunt explicabo esse, exercitationem sed inventore
                                                        impedit dolore nam et hic expedita velit provident soluta est.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
	<!-- Footer -->
	<footer class="text-white p-3 bg-dark">
		<div class="container-fluid p-5">
            <div class="row text-left">
                <div class="col-md-5 col-md-5">
                    <h1 class="text-light">Acerca de</h1>
                    <p class="text-dark-emphasis">Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Architecto fugiat 
                    veritatis odit qui.</p>
                    <p class="text-dark-emphasis">Copyright @2025 All right reserved|<span>Yanni Axel</span></p>
                </div>
                <div class="col-md-5">
                    <h4 class="text-light">Newsletter</h4>
                    <p class="text-dark-emphasis">Stay Update</p>
                    <form class="form-inline" action="">
                        <input placeholder="Email" type="email">
                    </form>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-light">Siguenos</h4>
                    <div class="column">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
	</footer>
{% endblock %}
